.calculator {
  height: 331px;
  display: block;
  overflow: hidden;
  width: 331px;
  border-radius: 10px;
  max-inline-size: 22rem;
  box-shadow: 0px 3px 6px 0px rgb(94, 92, 92);
  background-color: aquamarine;
}

.output {
  font-size: 2rem;
  text-align: end;
  background: hsl(202, 11%, 29%);
  color: hsl(255, 100%, 100%);
  padding-block-start: 15px;
  padding-block-end: 15px;
  padding-inline-end: 15px;
}

.helpKey {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  background: hsl(0, 0%, 0%);
}

.operation {
  border: none;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  font-size: 1.5rem;
  background: rgb(89, 11, 119);
  color: white;
}

.numKey {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  background: hsl(0, 0%, 0%);
}

.key {
  border: none;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  font-size: 1.5rem;
  color: white;
  background: rgb(28, 13, 83);
}

.overKey {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  background: hsl(0, 0%, 0%);
}

.over {
  border: none;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  font-size: 1.5rem;
  background: rgb(103, 65, 240);
  color: white;
}
