/* .square {
  width: 100px;
  height: 100px;
  float: left;
} */

/* Задание 7 */
/* .square {
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid black;
} */

/*Задание 8 НЕ ПОЛУЧИЛОСЬ*/
/* .squareRed{
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid black;
  background-color: red;
}

.squareGreen{
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid black;
  background-color: green;
} */
